/* Global styles
========================================================================== */

*,
*:before,
*:after {
  box-sizing: inherit;
}

*::selection {
  background: $pink;
}

html {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  width: 100%;
  max-width: $page-width;
  min-height: 100%;
  margin: 0;
  background: url("/src/images/mikasa.png");
  background: url("/src/images/webpack-logo.svg");
}

.wrapper {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: $blue;
}

img {
  display: block;
}

ul {
  padding: 0;
  list-style: none;
}

/* Helpers
================================================= */

.clearfix:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
}
